# **Diskritisasi**

**Soal !**
1.   Lakukan proses diskritisasi dengan equal width dan equal frequency
2.   Lakukan proses diskritisasi dengan basis entropy

**Apa itu bining data?**

Binning adalah cara untuk mengelompokkan suatu data ke dalam jumlah yang lebih kecil pada “bins”. Contohnya : jika Anda memiliki data mengenai sekelompok orang yang memiliki berbagai macam usia, Anda mungkin ingin mengatur usia mereka kedalam interval usia yang lebih sedikit, kamu dapat menggunakan metode binning pada TIBCO Spotfire untuk mengecilkan spesifikasi usia pada anggota kelompok tersebut.

Terdapat juga opsi lain dalam mengelompokkan data-data yang sudah dikategorikan ke dalam “bins”. Metode ini sangat membantu ketika Anda memiliki banyak kategori data dalam kolom daripada yang seharusnya dibutuhkan, sehingga Anda dpat menyederhanakannya melalui ini.

In [3]:
# import library yang diperlukan
import pandas as pd
import numpy as np
# import math 
# from sklearn.preprocessing import KBinsDiscretizer

In [4]:
#membaca data dari link csv
url = "https://vincentarelbundock.github.io/Rdatasets/csv/datasets/HairEyeColor.csv"
dataset = pd.read_csv(url)

In [ ]:
dataset.head(30)

    Unnamed: 0   Hair    Eye     Sex  Freq
0            1  Black  Brown    Male    32
1            2  Brown  Brown    Male    53
2            3    Red  Brown    Male    10
3            4  Blond  Brown    Male     3
4            5  Black   Blue    Male    11
5            6  Brown   Blue    Male    50
6            7    Red   Blue    Male    10
7            8  Blond   Blue    Male    30
8            9  Black  Hazel    Male    10
9           10  Brown  Hazel    Male    25
10          11    Red  Hazel    Male     7
11          12  Blond  Hazel    Male     5
12          13  Black  Green    Male     3
13          14  Brown  Green    Male    15
14          15    Red  Green    Male     7
15          16  Blond  Green    Male     8
16          17  Black  Brown  Female    36
17          18  Brown  Brown  Female    66
18          19    Red  Brown  Female    16
19          20  Blond  Brown  Female     4
20          21  Black   Blue  Female     9
21          22  Brown   Blue  Female    34
22          23    Red   Blue  Female     7
23          24  Blond   Blue  Female    64
24          25  Black  Hazel  Female     5
25          26  Brown  Hazel  Female    29
26          27    Red  Hazel  Female     7
27          28  Blond  Hazel  Female     5
28          29  Black  Green  Female     2
29          30  Brown  Green  Female    14

In [ ]:
#menampilkan semua informasi data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     int64
 1   Hair        32 non-null     object
 2   Eye         32 non-null     object
 3   Sex         32 non-null     object
 4   Freq        32 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.4+ KB

**1. Lakukan proses diskritisasi dengan equal widht dan equal frequency**



> **1.1 Equal Width**

> Equal-width intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.

> Membuat kategori

In [1]:
#Kategori
kategori = ['sedikit','sedang','banyak']

Kemudian menggunakan fungsi linspace() untuk membuat array yang berisi sejumlah angka dengan jarak yang sama.

In [14]:
#Menarik batas dengan jumlah yang sama
bins = np.linspace(min(dataset['Freq']), max(dataset['Freq']), 4)
bins

array([ 2.        , 23.33333333, 44.66666667, 66.        ])

Selanjutnya menggunakan fungsi cut() untuk melakukan binning

In [15]:
dataset['ukuran_binned_equal'] = pd.cut(dataset['Freq'], bins, labels=kategori, include_lowest=True)

In [16]:
dataset.head(10)

   Unnamed: 0   Hair    Eye   Sex  Freq ukuran_binned_equal
0           1  Black  Brown  Male    32              sedang
1           2  Brown  Brown  Male    53              banyak
2           3    Red  Brown  Male    10             sedikit
3           4  Blond  Brown  Male     3             sedikit
4           5  Black   Blue  Male    11             sedikit
5           6  Brown   Blue  Male    50              banyak
6           7    Red   Blue  Male    10             sedikit
7           8  Blond   Blue  Male    30              sedang
8           9  Black  Hazel  Male    10             sedikit
9          10  Brown  Hazel  Male    25              sedang